.jumbotron h1 {
    color:turquoise
}

.jumbotron p {
    color:turquoise
}

.white-text h2 {
    color: turquoise;
}

.aliceblue-text p {
    color: turquoise;
}

.col-md-12 p {
    color: turquoise;
}

body {
    background-color: rgb(82, 130, 151);
}